Cleaning the data

1. Import the data with pandas, getting the columns of interest
2. Clean each variable based on the codebook

All data from 2022

- out of the team's columns of interest 'DISRSPCT', 'NOTSMART' were not found in the data
- many variables (FAIR, TRUST. HELPFUL) were updated to chnage how the question was asked. Only the new question style was included to have the most updated data.

source: 
- https://www.marsja.se/how-to-read-sas-files-in-python-with-pandas/ 

- https://sparkbyexamples.com/pandas/pandas-replace-nan-values-by-zero-in-a-column/#:~:text=Use%20the%20DataFrame.,but%20returns%20a%20new%20DataFrame.

In [115]:
import pandas as pd
import numpy as np

cols_used = ['HAPPY', 'LIFE', 'HAPMAR', 'HAPCOHAB', 'FAIRNV', 'FAIRV', 'TRUSTV', 'TRUSTNV', 'HELPFULV', 'HELPFULNV','AGE','CONINC','PARTYID', 'SOCOMMUN', 'SOCFREND' ,'SOCBAR', 'SOCREL']
df = pd.read_sas('gss2022.sas7bdat')

df = df[cols_used]


print(df.shape, '\n')
print(df.head())

(3544, 17)

   HAPPY  LIFE  HAPMAR  HAPCOHAB  FAIRNV  FAIRV  TRUSTV  TRUSTNV  HELPFULV  \
0    3.0   2.0     NaN       NaN     1.0    NaN     NaN      2.0       NaN
1    3.0   2.0     2.0       NaN     NaN    NaN     NaN      NaN       NaN
2    3.0   2.0     NaN       NaN     NaN    3.0     2.0      NaN       1.0
3    3.0   2.0     NaN       NaN     NaN    NaN     NaN      NaN       NaN
4    2.0   2.0     NaN       2.0     NaN    1.0     2.0      NaN       2.0

   HELPFULNV   AGE   CONINC  PARTYID  SOCOMMUN  SOCFREND  SOCBAR  SOCREL
0        1.0  72.0  67200.0      0.0       NaN       NaN     NaN     NaN
1        NaN  80.0      NaN      3.0       6.0       5.0     5.0     5.0
2        NaN  57.0  30240.0      5.0       NaN       NaN     NaN     NaN
3        NaN  23.0  67200.0      0.0       3.0       3.0     3.0     3.0
4        NaN  62.0  18480.0      3.0       NaN       NaN     NaN     NaN

Cleaning of:
    HAPPY - Taken all together, how would you say things are these days--would you say that you are very happy, pretty happy, or not too happy?
    Type: Numeric
    Scale: 1 (very happy), 2 (pretty happy), 3 (not too happy)

In [116]:
print(df['HAPPY'].dtypes, '\n')
print(df['HAPPY'].value_counts(), '\n')
print(df['HAPPY'].isna().sum())

float64

2.0    1942
3.0     799
1.0     779
Name: HAPPY, dtype: int64

24

Cleaning of:
    LIFE - In general, do you find life exciting, pretty routine, or dull?
    Type: Numeric
    Scale: 1 (exciting), 2 (Routine), 3 (Dull)

In [117]:
print(df['LIFE'].dtypes, '\n')
print(df['LIFE'].value_counts(), '\n')
print(df['LIFE'].isna().sum())

float64

2.0    1225
1.0     993
3.0     114
Name: LIFE, dtype: int64

1212

Cleaning of:
    HAPMAR - (IF CURRENTLY MARRIED, ASK HAPMAR) Taking things all together, how would you describe your marriage? Would you say that your marriage is very happy, pretty happy, or not too happy? 
    and
    HAPCOHAB - (IF CURRENTLY UNMARRIED OR ANSWERED PUNCHES 1 OR 2 FOR POSSLQ OR POSSLQY, ASK HAPCOHAB) Taking things all together, would you say that your relationship with your partner is very happy, pretty happy, or not too happy?
    
    The two variables measure happiness of romantic relationships. The differewnce is that
    HAPMAR involves those that are officially married, so a person would not have answered 
    both questions The two varibles are combined into one varible to reflect happiness of 
    those living with romantic partner
    
    Scale:  1 (very happy), 2 (pretty happy), 3 (not too happy)
   
New variable name: HAPPARTNER

In [118]:
print(df['HAPMAR'].dtypes, '\n')
print(df['HAPMAR'].value_counts(), '\n')
print(df['HAPMAR'].isna().sum())

print(df['HAPCOHAB'].dtypes, '\n')
print(df['HAPCOHAB'].value_counts(), '\n')
print(df['HAPCOHAB'].isna().sum())

df['HAPMAR'] = df['HAPMAR'].fillna(0)
df['HAPCOHAB'] = df['HAPCOHAB'].fillna(0)
df['HAPPARTNER'] = df['HAPMAR'] + df['HAPCOHAB']
df['HAPPARTNER'] = df['HAPPARTNER'].replace(0, np.nan)

df = df.drop(columns = ['HAPMAR', 'HAPCOHAB'])
df.head()

float64

1.0    881
2.0    502
3.0     72
Name: HAPMAR, dtype: int64

2089
float64

1.0    190
2.0    113
3.0     10
Name: HAPCOHAB, dtype: int64

3231

,HAPPY,LIFE,FAIRNV,FAIRV,TRUSTV,TRUSTNV,HELPFULV,HELPFULNV,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER
0,3.0,2.0,1.0,NaN,NaN,2.0,NaN,1.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN
1,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0
2,3.0,2.0,NaN,3.0,2.0,NaN,1.0,NaN,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN
3,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN
4,2.0,2.0,NaN,1.0,2.0,NaN,2.0,NaN,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0

Cleaning of:
    FAIRNV/FAIRV/FAIR 1.000 Do you think most people would try to take advantage of you if they got a chance, or would they try to be fair?
    Type: Numeric
    Scale 1 (take advantage), 2 (fair), 3 (depends)
    
    Combined since the two vars rep different data collection methods, not different questions

In [119]:
print(df['FAIRNV'].dtypes, '\n')
print(df['FAIRNV'].value_counts(), '\n')
print(df['FAIRNV'].isna().sum())

print(df['FAIRV'].dtypes, '\n')
print(df['FAIRV'].value_counts(), '\n')
print(df['FAIRV'].isna().sum())

df['FAIRNV'] = df['FAIRNV'].fillna(0)
df['FAIRV'] = df['FAIRV'].fillna(0)
df['FAIR_C'] = df['FAIRNV'] + df['FAIRV']
df['FAIR_C'] = df['FAIR_C'].replace(0, np.nan)

df = df.drop(columns = ['FAIRNV', 'FAIRV'])
df.head()

float64

1.0    318
2.0    256
3.0      2
Name: FAIRNV, dtype: int64

2968
float64

3.0    262
1.0    156
2.0    148
Name: FAIRV, dtype: int64

2978

,HAPPY,LIFE,TRUSTV,TRUSTNV,HELPFULV,HELPFULNV,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER,FAIR_C
0,3.0,2.0,NaN,2.0,NaN,1.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,3.0,2.0,NaN,NaN,NaN,NaN,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0,NaN
2,3.0,2.0,2.0,NaN,1.0,NaN,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0
3,3.0,2.0,NaN,NaN,NaN,NaN,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN
4,2.0,2.0,2.0,NaN,2.0,NaN,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0

For Cleaning:
    TRUSTV/TRUSTNV 1.000 Generally speaking, would you say that most people can be trusted or that you can't be too careful in dealing with people?
    Type: Numeric
    Combined since the two vars rep different data collection methods, not different questions

In [120]:
print(df['TRUSTNV'].dtypes, '\n')
print(df['TRUSTNV'].value_counts(), '\n')
print(df['TRUSTNV'].isna().sum())

print(df['TRUSTV'].dtypes, '\n')
print(df['TRUSTV'].value_counts(), '\n')
print(df['TRUSTV'].isna().sum())

df['TRUSTNV'] = df['TRUSTNV'].fillna(0)
df['TRUSTV'] = df['TRUSTV'].fillna(0)
df['TRUST_C'] = df['TRUSTNV'] + df['TRUSTV']
df['TRUST_C'] = df['TRUST_C'].replace(0, np.nan)

df = df.drop(columns = ['TRUSTNV', 'TRUSTV'])
df.head()

float64

2.0    383
1.0    195
3.0      1
Name: TRUSTNV, dtype: int64

2965
float64

2.0    257
3.0    214
1.0     98
Name: TRUSTV, dtype: int64

2975

,HAPPY,LIFE,HELPFULV,HELPFULNV,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER,FAIR_C,TRUST_C
0,3.0,2.0,NaN,1.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,3.0,2.0,NaN,NaN,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0,NaN,NaN
2,3.0,2.0,1.0,NaN,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0
3,3.0,2.0,NaN,NaN,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN
4,2.0,2.0,2.0,NaN,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,2.0

Cleaning for:
    HELPFULV/HELPFULNV - Would you say that most of the time people try to be helpful, or that they are mostly just looking out for themselves? 
    Type: Numeric
    scale: 1 (helpful), 2 (selfish), 3 (depends)
    Combined since the two vars rep different data collection methods, not different questions

In [121]:
print(df['HELPFULNV'].dtypes, '\n')
print(df['HELPFULNV'].value_counts(), '\n')
print(df['HELPFULNV'].isna().sum())

print(df['HELPFULV'].dtypes, '\n')
print(df['HELPFULV'].value_counts(), '\n')
print(df['HELPFULV'].isna().sum())

df['HELPFULNV'] = df['HELPFULNV'].fillna(0)
df['HELPFULV'] = df['HELPFULV'].fillna(0)
df['HELPFUl_C'] = df['HELPFULNV'] + df['HELPFULV']
df['HELPFUl_C'] = df['HELPFUl_C'].replace(0, np.nan)

df = df.drop(columns = ['HELPFULNV', 'HELPFULV'])
df.head()

float64

1.0    303
2.0    275
Name: HELPFULNV, dtype: int64

2966
float64

3.0    272
2.0    153
1.0    144
Name: HELPFULV, dtype: int64

2975

,HAPPY,LIFE,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER,FAIR_C,TRUST_C,HELPFUl_C
0,3.0,2.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0
1,3.0,2.0,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0,NaN,NaN,NaN
2,3.0,2.0,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0
3,3.0,2.0,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
4,2.0,2.0,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,2.0,2.0

CLeaning for:
    AGE
    Type: Numeric

In [122]:
print(df['AGE'].dtypes, '\n')
print(df['AGE'].value_counts(), '\n')
print(df['AGE'].isna().sum())

float64

32.0    76
60.0    75
39.0    72
36.0    69
33.0    69
        ..
83.0    13
86.0    11
85.0     8
87.0     5
88.0     4
Name: AGE, Length: 72, dtype: int64

208

Cleaning for:
    CONINC 1.000 Inflation-adjusted family income
    type: numeric
        
The varible CONINC_CAT reps the catagory the varible is in
CONINC provides a middle value

In [123]:
print(df['CONINC'].dtypes, '\n')
print(df['CONINC'].value_counts(), '\n')
print(df['CONINC'].isna().sum())

map_c = {336.0: '$1-999', 1344.0: '$1,000-1,999 ', 2352.0:'$2,000-2,999', 3024.0: '$3,000-3,999', 3696.0: '$3,000-3,999', 4368.0: '$4,000-4,999', 5040.0: '$5,000-5,999', 6048.0: '$6,000-6,999', 7560.0: '$7,000-7,999', 9240.0: '$9,000-9,999', 10920.0: '$10,000-10,999', 12600.0: '$12,000-14,999', 14280.0: '$12,000-14,999', 15960.0: '$15,000-19,999', 18480.0:'$15,000-19,999',  21840.0: '$20,000-24,999', 25200.0: '$25,000-29,999', 30240.0: '$30,000-39,999', 36960.0: '$30,000-39,999',45360.0: '$40,000-49,999', 55440.0: "$50,000-74,999", 67200.0:"$50,000-74,999", 80640.0: '$75,000-99,999', 94080.0: '$75,000-99,999', 107520.0: '$100,000-999,999', 168736.0: '$100,000-999,999'}
    
df["CONINC"] = df["CONINC"].round(0)
df['CONINC_CAT'] = df["CONINC"].replace(map_t)
df.head()

float64

168736.29696    330
45360.00000     304
67200.00000     249
55440.00000     240
36960.00000     239
30240.00000     211
80640.00000     169
21840.00000     162
25200.00000     152
94080.00000     147
18480.00000     129
7560.00000      104
15960.00000     100
107520.00000     97
14280.00000      92
9240.00000       83
10920.00000      64
12600.00000      51
6048.00000       40
336.00000        39
1344.00000       33
2352.00000       18
3696.00000       16
5040.00000       16
4368.00000       14
3024.00000       11
Name: CONINC, dtype: int64

434

,HAPPY,LIFE,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER,FAIR_C,TRUST_C,HELPFUl_C,CONINC_CAT
0,3.0,2.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,"$50,000-74,999"
1,3.0,2.0,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0,NaN,NaN,NaN,NaN
2,3.0,2.0,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,"$30,000-39,999"
3,3.0,2.0,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,"$50,000-74,999"
4,2.0,2.0,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,2.0,2.0,"$15,000-19,999"

Cleaning for:
   PARTYID - Political party the respondent identifies (and how strongly)
    Type: Numeric
    
The varible PARTYID_CAT reps the catagory the varible is in
PARTYID provides the code according to the code book

In [124]:
print(df['PARTYID'].dtypes, '\n')
print(df['PARTYID'].value_counts(), '\n')
print(df['PARTYID'].isna().sum())

map_p = {0: 'STRONG DEMOCRAT', 1: 'NOT VERY STRONG DEMOCRAT', 2: 'INDEPENDENT, CLOSE TO DEMOCRAT', 3: 'INDEPENDENT (NEITHER, NO RESPONSE)', 4: 'INDEPENDENT, CLOSE TO REPUBLICAN', 5: 'NOT VERY STRONG REPUBLICAN', 6: 'STRONG REPUBLICAN', 7: 'OTHER PARTY '}
df['PARTYID_CAT'] = df["PARTYID"].replace(map_p)

df.head()

float64

3.0    835
0.0    595
1.0    451
6.0    431
2.0    400
5.0    361
4.0    330
7.0    106
Name: PARTYID, dtype: int64

35

,HAPPY,LIFE,AGE,CONINC,PARTYID,SOCOMMUN,SOCFREND,SOCBAR,SOCREL,HAPPARTNER,FAIR_C,TRUST_C,HELPFUl_C,CONINC_CAT,PARTYID_CAT
0,3.0,2.0,72.0,67200.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,"$50,000-74,999",STRONG DEMOCRAT
1,3.0,2.0,80.0,NaN,3.0,6.0,5.0,5.0,5.0,2.0,NaN,NaN,NaN,NaN,"INDEPENDENT (NEITHER, NO RESPONSE)"
2,3.0,2.0,57.0,30240.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,"$30,000-39,999",NOT VERY STRONG REPUBLICAN
3,3.0,2.0,23.0,67200.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,"$50,000-74,999",STRONG DEMOCRAT
4,2.0,2.0,62.0,18480.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,2.0,2.0,"$15,000-19,999","INDEPENDENT (NEITHER, NO RESPONSE)"

Cleaning for social variables
    Type: Numeric
    SOCBAR - Go to a bar or tavern?
    SOCFREND - Spend a social evening with friends who live outside the neighborhood?
    SOCOMMUN - How often do you spend a social evening with someone who lives in your
neighborhood?
    SOCREL - How often do you spend a social evening with relatives?
    
    Scale: 1 (most often) - 7 (least often)

In [125]:
print(df['SOCBAR'].dtypes, '\n')
print(df['SOCBAR'].value_counts(), '\n')
print(df['SOCBAR'].isna().sum())

print(df['SOCFREND'].dtypes, '\n')
print(df['SOCFREND'].value_counts(), '\n')
print(df['SOCFREND'].isna().sum())

print(df['SOCOMMUN'].dtypes, '\n')
print(df['SOCOMMUN'].value_counts(), '\n')
print(df['SOCOMMUN'].isna().sum())

print(df['SOCREL'].dtypes, '\n')
print(df['SOCREL'].value_counts(), '\n')
print(df['SOCREL'].isna().sum())

float64

7.0    1014
5.0     406
6.0     361
4.0     272
3.0     199
2.0     105
1.0      11
Name: SOCBAR, dtype: int64

1176
float64

4.0    494
5.0    488
3.0    447
2.0    343
7.0    305
6.0    221
1.0     68
Name: SOCFREND, dtype: int64

1178
float64

7.0    864
2.0    320
5.0    312
4.0    303
3.0    264
6.0    226
1.0     83
Name: SOCOMMUN, dtype: int64

1172
float64

2.0    486
5.0    462
3.0    433
4.0    377
1.0    282
6.0    173
7.0    157
Name: SOCREL, dtype: int64

1174

Drop rows that are not needed

-HAPPY is a crucial variable for the project so rows with NA for this value are removed

-rows without data for fair or Trust since they were rows with the old system

In [126]:
df = df.dropna(subset=['HAPPY', 'FAIR_C'])


df.to_csv('cleaned_data.csv')